/****** Object:  Table [dbo].[Country]    Script Date: 4/16/2014 9:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[CountryName] [nvarchar](255) NOT NULL,
	[CountryCode] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
INSERT [dbo].[Country] ([CountryID], [CountryName], [CountryCode]) VALUES (6, N'Andorra', N'AD')
INSERT [dbo].[Country] ([CountryID], [CountryName], [CountryCode]) VALUES (228, N'United Arab Emirates', N'AE')
INSERT [dbo].[Country] ([CountryID], [CountryName], [CountryCode]) VALUES (1, N'Afghanistan', N'AF')
GO
